# Logs
logs
*.log
npm-debug.log*

# Dependency directories (INI YANG PENTING)
node_modules/

# Build directory
dist/
build/

# Environment variables
.env
.env.local

# Editor directories
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?